body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

aside {
    width: 200px;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;   
}

div {
    background-color: #0000001f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    margin-top: 30px;
    list-style-type: none;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

li > a {
    color: #2b2b2b;
    text-decoration: none;
    
}

a:hover {
    color:#2b2bb2;
    transition: 0.3s;
}

img {
    border-radius: 100px;
    width: 70px;
}

section {
    justify-self: flex-end;
    margin-top: auto; /* con margin prendono tutto lo spazio libero disponibile nella direzione specificata  */
    text-align: center;
}

section > p {
    font-weight: 800;
}
