body {
	font-family: monospace;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse; /* non uso hidden perché non elimina direttamente gli elementi ma li nasconde, al contrario di collapse */
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
}

#expand-toggle:checked ~  * .expandable { /* permette di far funzionare rules una volta che la checkbox/label è checkata */
	visibility: visible;
}

#expand-toggle:checked ~ * #text {
	display: none;
}

#expand-toggle:checked ~  #expand-btn::after {
	content: "Nascondi righe";
}

#expand-toggle:checked ~  #expand-btn {
	background-color: #88ff88;
}